#color1
{
background-color: #ff0800;
border: 2px solid black;
font-family: Marvel;
font-style: italic;
}

#color2
{
    background-color: #0026ff;
    border: 2px solid black;
    font-family: Marvel;
    font-style: italic;
}

#color3
{
    background-color: #fbff00;
    border: 2px solid black;
    font-family: Marvel;
    font-style: italic;
}
#color4
{
    font-family: Marvel;
    font-style: italic;
    border: 2px solid black;
}

#color5
{
    background-color: #a87691;
    border: 2px solid black;
    font-family: Marvel;
    font-style: italic;
}